/* Styling for mobile devices */

.numbersContainer {
  margin: 0 auto;
  width: 310px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.numbersContainer :first-child{
  margin: 0 10px 10px 0;
}

.numbersContainer :last-child{
  margin: 0 0 0 10px;
}

.numberContainer {
  padding: 0 0.2rem 0 0.2rem;
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: var(--main-color);
}

.numberTitle {
  color: var(--primary-text-color);
  font-size: 1rem;
}

.numberValue {
  color: var(--primary-text-color);
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.iconContainer {
  margin: 0 auto;
}