/* Styling for mobile devices */

.sectionContainer {
  height: 170vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.firstContainer {
  height: 70vh;
  width: 100%;
  background-image: url("/office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.secondContainer {
  height: 100vh;
  position: relative;
  align-items: center;
}

.form {
  margin: 0 auto;
  width: 300px;
}

.title {
  font-size: 1.5rem;
  color: var(--main-color);
  padding: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.buttonContainer {
  margin-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 767.999px) {
  .sectionContainer {
    height: 200vh;
  }

  .firstContainer {
    height: 100vh;
  }

  .secondContainer {
    height: 100vh;
  }

  .form {
    width: 700px;
  }
}

@media (min-width: 1023.999px) {
  .sectionContainer {
    height: 110vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .firstContainer {
    width: 50%;
    height: 100%;
    background-image: url("/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .secondContainer {
    width: 50%;
    height: 100%;
    align-items: center;
  }

  .form {
    height: 100%;
    background-color: var(--tertiary-color);
    width: 400px;
    margin: 0 auto;
  }

  .title {
    font-size: 1.5rem;
    color: var(--main-color);
    padding: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .buttonContainer {
    padding-top: 2rem;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
